<!-- 404 - Not Found page - view -->

<!DOCTYPE html>
<html lang="en">

  <%- include('layouts/header'); -%>

<body>

  <%- include('layouts/navbar'); -%>

  <%- include('layouts/page-header'); -%>


  <!-- Main Content -->
  <div class="container main-content">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="content-text">You have requested a page that is not available or does not exist. This may be because the URL entered is incorrect. Alternatively, it could be because the link you followed is broken, in which case please contact us so that we can fix it as quickly as possible. </p>
      </div>
    </div>
  </div>

  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%>

</body>

</html>
