<!-- Edit employee page - view -->

<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%> 
    
    <%- include('layouts/page-header'); -%>

    <!-- Main Content -->
    <div class="container main-content">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Edit employee</h1>
            <form action="/staff/edit/<%= dbId %>" method="POST">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>ID</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="employee ID code"
                  id="staffId"
                  name="staffId"
                  value="<%= employee.staffId %>"
                  required
                />
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>First name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="employee first name"
                  id="firstName"
                  name="firstName"
                  value="<%= employee.firstName %>"
                  required
                />
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Last name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="employee last name"
                  id="lastName"
                  name="lastName"
                  value="<%= employee.lastName %>"
                  required
                />
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Office</label>
                <input
                  type="text"
                  class="form-control"
                  name="office"
                  placeholder="home office"
                  id="office"
                  value="<%= employee.office %>"
                  required
                />
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Position</label>
                <input
                  type="text"
                  class="form-control"
                  name="position"
                  placeholder="employee role"
                  id="position"
                  value="<%= employee.position %>"
                  required
                />
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Telephone</label>
                <input
                  type="text"
                  class="form-control"
                  name="telephone"
                  placeholder="contact telephone number"
                  id="telephone"
                  value="<%= employee.telephone %>"
                />
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Email</label>
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  placeholder="email address"
                  id="email"
                  value="<%= employee.email %>"
                />
              </div>
            </div>
            <br />
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-primary"
                id="addEmployeeButton"
              >
                Update employee
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
