<!-- Home page - view -->

<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%> <%- include('layouts/page-header'); -%>

    <!-- Main Content -->
    <div class="container main-content">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2>Access, update, amend, and delete company data</h2>
          <p class="content-text">
            With this tool you can look-up, add, amend and delete information about our offices and employees. 
          </p>
        </div>
      </div>
    </div>

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
