<!-- Offices page - view -->

<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%> 
    
    <%- include('layouts/page-header'); -%>
    
    <!-- Main Content -->
    <div class="container main-content">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1>Offices</h1>
          <strong><a href="/offices/add">Add new office</a></strong>
          <hr />
          <% for (var i = 0; i < offices.length; i++) { %>
            <div class="">
              <h2 class="text-info">
                <%= offices[i].office %>
              </h2>
              <p>
                <%= offices[i].building %> 
              </p>
              <p>
                <%= offices[i].number %> 
              </p>
              <p>
                <%= offices[i].street %> 
              </p>
              <p>
                <%= offices[i].town %> 
              </p>
              <p>
                <%= offices[i].postcode %> 
              </p>
              <a href="/offices/edit/<%= offices[i]._id %>">
                <strong>Edit</strong>
              </a>
              &nbsp;
              <a href="/offices/delete/<%= offices[i]._id %>" onclick="return confirm('Are you sure?')">
                <strong>Delete</strong>
              </a>
              <hr />
            </div>
            <% } %>
          </div>
      </div>
    </div>

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
