<!-- Single post page - view -->

<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>

    <%- include('layouts/page-header'); -%>

    <!-- Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h1><%= blogpost.title %></h1>
            <h3><%= blogpost.author %></h3>
            <p><%= blogpost.body %></p>
            <p class="post-meta">
              Posted by
              <em><%= blogpost.userid.username %></em>
              on <%= blogpost.datePosted.toDateString() %>
            </p>
          </div>
        </div>
      </div>
    </article>

    <hr />

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
