<!-- Home page - view -->

<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>

    <%- include('layouts/page-header'); -%>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1>Staff</h1>
          <% for (var i = 0; i < employees.length; i++) { %>
            <div class="post-preview">
              <h2 class="post-title">
                <%= employees[i].firstName %> <%= employees[i].lastName %>
             </h2>
            <hr />
          <% } %>
        </div>
      </div>
    </div>

    <hr />

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
