<!-- Home page - view -->

<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>

    <%- include('layouts/page-header'); -%>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1>Staff</h1>
          <a href="/staff/add">Add new staff member</a>
          <% for (var i = 0; i < employees.length; i++) { %>
              <h2 class="post-title">
                <%= employees[i].firstName %> <%= employees[i].lastName %>
              </h2>
              <p>
                ID: <%= employees[i].staffId %> 
              </p>
              <p>
                Office: <%= employees[i].office %> 
              </p>
              <p>
                Position: <%= employees[i].position %> <%= employees[i].telephone %>
              </p>
              <p>
                Telephone: <%= employees[i].telephone %> 
              </p>
              <p>
                Email: <%= employees[i].email %> 
              </p>
              <a href="/staff/edit">
                <% conveyData = employees[i] %>
                <strong>Edit</strong>
              </a>
              <a href="/staff/delete">
                <% conveyData = employees[i] %>
                <strong>Delete</strong>
              </a>
            <hr />
          <% } %>
        </div>
      </div>
    </div>

    <hr />

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
