<!-- Employees page - view -->

<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>

    <%- include('layouts/page-header'); -%>

    <!-- Main Content -->
    <div class="container main-content">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1>Staff</h1>
          <strong><a href="/staff/add">Add new staff member</a></strong>
          <hr />
          <% for (var i = 0; i < employees.length; i++) { %>
              <h2 class="text-info">
                <%= employees[i].firstName %> <%= employees[i].lastName %>
              </h2>    
              <p>
                ID: <%= employees[i].staffId %> 
              </p>
              <p>
                Office: <%= employees[i].office %> 
              </p>
              <p>
                Position: <%= employees[i].position %> 
              </p>
              <p>
                Telephone: <%= employees[i].telephone %> 
              </p>
              <p>
                Email: <%= employees[i].email %> 
              </p>
              <a href="/staff/edit/<%= employees[i]._id %>">
                <strong>Edit</strong>
              </a>
              &nbsp;
              <a href="/staff/delete/<%= employees[i]._id %>" onclick="return confirm('Are you sure?')">
                <strong>Delete</strong>
              </a>
            <hr />
          <% } %>
        </div>
      </div>
    </div>

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
