<!-- edit office - view -->

<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%> 
    
    <%- include('layouts/page-header'); -%>
    
    <!-- Main Content -->
    <div class="container main-content">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1>Edit Office</h1>
          <div class="post-preview">
            <h2 class="post-title">
              <%= office.office %>
            </h2>
            <p>
              <%= office.building %> 
            </p>
            <p>
              <%= office.number %> 
            </p>
            <p>
              <%= office.street %> 
            </p>
            <p>
              <%= office.town %> 
            </p>
            <p>
              <%= office.postcode %> 
            </p>
            <hr />
          </div>
        </div>
      </div>
    </div>

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
